In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as ptl
import seaborn as sns

# Exploratory Data Analysis

In [66]:
train_df = pd.read_excel('E-Commerce_train.xlsx', dtype={'Reached.on.Time_Y.N':object})
test_df = pd.read_excel('E-Commerce_test.xlsx')
# Merge training and testing dataframes for EDA
df = pd.concat([train_df, test_df])

In [67]:
df.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1

In [74]:
df.columns = ['id','warehouse_block','mode_of_shipment','customer_care_calls','customer_rating',
'cost_of_the_product','prior_purchases','product_importance','gender','discount_offered',
'weight_in_gms','reached.on.time_y.n']

In [75]:
df.isnull().sum() # 2000 null values correspond to unlabeled testing data

id                        0
warehouse_block           0
mode_of_shipment          0
customer_care_calls       0
customer_rating           0
cost_of_the_product       0
prior_purchases           0
product_importance        0
gender                    0
discount_offered          0
weight_in_gms             0
reached.on.time_y.n    2000
dtype: int64

In [76]:
df.shape

(10999, 12)

In [77]:
df.dtypes

id                      int64
warehouse_block        object
mode_of_shipment       object
customer_care_calls     int64
customer_rating         int64
cost_of_the_product     int64
prior_purchases         int64
product_importance     object
gender                 object
discount_offered        int64
weight_in_gms           int64
reached.on.time_y.n    object
dtype: object

In [78]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,10999.0,5500.000000,3175.282140,1.0,2750.5,5500.0,8249.5,10999.0
customer_care_calls,10999.0,4.054459,1.141490,2.0,3.0,4.0,5.0,7.0
customer_rating,10999.0,2.990545,1.413603,1.0,2.0,3.0,4.0,5.0
cost_of_the_product,10999.0,210.196836,48.063272,96.0,169.0,214.0,251.0,310.0
prior_purchases,10999.0,3.567597,1.522860,2.0,3.0,3.0,4.0,10.0
discount_offered,10999.0,13.373216,16.205527,1.0,4.0,7.0,10.0,65.0
weight_in_gms,10999.0,3634.016729,1635.377251,1001.0,1839.5,4149.0,5050.0,7846.0